@font-face {
    font-family: 'Chargen';
    src: url('./chargen.ttf');
}

#game-canvas {
  background-image: url('./lib/space.jpg');
}

#modal {
  background-color: #5A6292;
  font-size: 18px;
  color: white;
  font-family: 'Chargen';
  border-radius: 4px;
  text-align: center;
}

#modal > ul {
  text-align: left;
}

#modal > button {
  color: black;
  width: 100px;
  height: 35px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #F9FEF7;
  font-family: 'Chargen';
}

button.asteroids-button {

}
